 .main {
     position:absolute;
	 bottom: 100px;
     right: 0px;
     width: 1000px;
     overflow: hidden;
}

 .notification {
    display: grid;
    background-color:black;
    height:auto;
    width: 410px;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.65));
}

 .notificationBody {
    background-color:transparent;
    height:auto;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width: 420px;
}

 .title {
     font-family: "Mulish", sans-serif;
     font-weight: bolder;
     color:white;
     font-size: 20px;
     padding:10px 0px 0px 60px;
}

 .content {
     font-family: "Mulish", sans-serif;
     color:white;
     font-size: 17.5px;
     padding: 10px 10px 10px 60px;
}

 .notification > i {
    display: flex;
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.65));
}